<!--========================================================
                          CONTENT
=========================================================-->
<div class="container" ng-controller="createStudentCtl">
    <div class="row">
        <div class="grid_12">
            <div class="box_1">
                <h2 class="header_2 wrap_3 clr-1">
                    {{changeLabel}} Student</h2>
                <p>
                <div>
                    <label>Student Name: </label>
                    <input name="studentName" ng-model="student.name" type="text" size="25" maxlength="15">
                </div>
                <div>
                    <label>Category: </label>
                    <select name="schoolCategory" ng-model="student.category" ng-options = "x for x in categories"></select>
                </div>
                <div>
                    <label>Passport size photo:</label>
                    <input name="" ng-model="student.photo" type="file" file-model="myFile"
                           ngf-pattern="'image/*'" accept="image/*" ngf-max-size="100KB">
                    <div class="logo" id="logo" ng-show="!hideThis">
                        <img class="logo" src="passport/{{student.photo}}" alt="Photo" width="50px" height="50px" />
                    </div>
                </div>
                <div>
                    <label>Parent Name: </label>
                    <input name="parentName" ng-model="student.parentName" type="text">
                </div>
                <div>
                    <label>Address: </label>
                        <input name="address1" ng-model="student.address1" type="text">
                        <input name="address2" ng-model="student.address2" type="text">
                        <input name="address3" ng-model="student.address3" type="text">
                </div>
                <div>
                    <label>Phone Number 1: </label>
                    <input name="phno1" ng-model="student.phone" type="text">
                </div>
                <div>
                    <label>Phone Number 2: </label>
                    <input name="phno2" ng-model="student.phone2" type="text">
                </div>
                <div>
                    <label>Email-id: </label>
                    <input name="email" ng-model="student.emailId" type="text">
                </div>
                <div ng-repeat="event in student.events">
                    <div>
                        <label>Event Attended{{$index}}: </label>
                        <select name="eventAttended" ng-model="event.eventId" >
                            <option ng-repeat="x in eventInfoList" value="{{x.id}}">{{x.title}}</option>
                        </select>
                        <div>
                            <label>Category: </label>
                            <select name="eventCategory" ng-model="event.category" ng-options = "x for x in categories"></select>
                           <!-- <h1>You selected: {{student.eventAttended}}</h1>-->
                        </div>
                        <div>
                            <label>Price Won: </label>
                            <input name="eventPrice" ng-model="event.prize" type="text">
                        </div>
                        <div ng-repeat="image in event.imageSet">
                            <div>
                                <label>Add Image of Event {{$index}}:</label>
                                <input name="" ng-model="image.image" type="file" file-model="myFile"
                                       ngf-pattern="'image/*'" accept="image/*" ngf-max-size="100KB">
                            </div>
                            <div>
                                <label>Image  Name: </label>
                                <input name="imageName" ng-model="image.imageName" type="text">
                                <input name="Add Images" type="button" class="fa-spoon" value="Add Images"
                                       ng-click="addMoreImages(event)">
                                <input name="Remove Image" type="button" class="fa-spoon" value="Remove Images"
                                       ng-click="removeImages(event, image)">
                            </div>
                        </div>
                    </div>
                    <div>
                        <input name="Add Event" type="button" class="fa-spoon" value="Add Event" ng-click="addEvent()">
                        <input name="Add Event" type="button" class="fa-spoon" value="Remove Event" ng-click="removeEvent(event)">
                    </div>
                </div>

                <div>
                    <input name="Create School" type="button" class="fa-spoon" value="{{changeLabel}} School"
                           ng-click="createStudent(student)">
                </div>
            </div>

        </div>
    </div>
</div>
