
<!--========================================================
                          CONTENT
=========================================================-->
<div class="container"  ng-controller="schoolProfileCtl">
    <div>
        <div>
            <div class="grid_12">
                <h2 class="header_1 wrap_3 clr-1">{{school.name}}</h2>
                <div>
                    <h3 class="header_3 clr-1" align="center">
                    {{school.address}} <br>
                    {{school.website}}</h3>
                </div>
                <div class="imgCenter">
                    <img src="logos/{{school.logo}}"  alt="School Logo">
                </div>

                    <p>{{school.profile}}</p>
                    <p>&nbsp;</p>
                    <p h3 class="text_2 clr-1">Following are the Winners from this school at various events conducted by Cultivating Art:</p>

                  <table width="600" border="1">
                      <thead>
                          <tr>
                            <th h3 class="text_2 color_2" bgcolor="#FF9933" scope="col">Student Name</th>
                            <th h3 class="text_2 color_2" bgcolor="#FF9933" scope="col">Prizes Won</th>
                            <th h3 class="text_2 color_2" bgcolor="#FF9933" scope="col">Event Name</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="x in students ">
                            <td><a href="#!studentProfile/{{x.id}}"> {{x.name}}</a></td>
                            <td><div ng-repeat="event in x.events"> {{event.prize}}</div></td>
                            <td><div ng-repeat="event in x.events"> <a href="{{event.eventDO.link}}">{{event.eventDO.title}}</a></div> <br></td>
                          </tr>
                      </tbody>
                  </table>
            </div>
        </div>
    </div>
    <div class="bg_1 wrap_16 wrap_10">
      <div class="container">
        <div class="row">
          <div class="grid_12">
            <div id="owl_2">
              <div class="item">
                <div class="row"> </div>
                        </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row wrap_9 wrap_4 wrap_10">
            <div class="grid_12">
                <div class="header_1 wrap_3 color_7">
                    Get in Touch
                </div>
                <div class="box_3">
                    <ul class="list_1">
                        <li><a class="fa fa-twitter" href="#"></a></li>
                        <li><a class="fa fa-facebook" href="#"></a></li>
                        <li><a class="fa fa-google-plus" href="#"></a></li>
                        <li><a class="fa fa-pinterest" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
