
<!--========================================================
                          CONTENT
=========================================================-->
<div class="container" ng-controller="searchCtl">
<div>
    <div>
        <div class="grid_12">
            <h2 class="header_1 wrap_3 clr-1">Winner's Profiles </h2>
              <input name="searchText" ng-model="searchText" type="text" value="Enter student or school name">
              <input name="search" type="button" class="fa-spoon" value="Search"
                   ng-click="search(searchText)">
        </div>
    </div>
</div>


<div class="container">
    <div >
        <div class="grid_12">
            <h3 class="header_3 wrap_3 clr-1">
                Search results</h3>
            <div ng-show="schoolSearchResult">
                <p>Following Schools matched the keyword  &quot;....&quot;</p>
                <div>
                    <table id="datatables" ng-cloak

                           cellspacing="0"
                           style="width: 100%;background-color: white;border: 1px solid black;font-size: 1.6em;box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);">
                        <thead>
                        <tr style="background-color:skyblue">
                            <th ng-click="sortBy('shopName')">School Id <span
                                    ng-show="propertyName === 'schoolId'"
                                    ng-class="{reverse: reverse}"></span></th>
                            <th ng-click="sortBy('shopName')">School Name <span
                                    ng-show="propertyName === 'schoolName'"
                                    ng-class="{reverse: reverse}"></span></th>
                            <th ng-click="sortBy('shopName')">School Phone<span
                                    ng-show="propertyName === 'schoolPhone'"
                                    ng-class="{reverse: reverse}"></span></th>
                            <th ng-click="sortBy('school')">School Address<span
                                    ng-show="propertyName === 'schoolAddress'"
                                    ng-class="{reverse: reverse}"></span></th>
                            <th ng-click="sortBy('email')">School Email<span
                                    ng-show="propertyName === 'schoolEmail'"
                                    ng-class="{reverse: reverse}"></span></th>
                            <th ng-click="sortBy('email')">School Website<span
                                    ng-show="propertyName === 'schoolWebsite'"
                                    ng-class="{reverse: reverse}"></span></th>
                        </tr>
                        </thead>
                        <tbody style="height:{{tableHeight-200}}px;">
                        <tr ng-repeat="x in schoolsInfo |  filter:searchText"
                            style="background-color: {{(x.priceChanged && x.activeOffer)||x.belowThreshold?'rgba(241, 6, 6, 0.2)':''}};">
                            <td><a ng-href="#!schoolProfile/{{ x.id }}" class="clr-6">{{ x.id }}</a></td>
                            <td>{{ x.name }}</td>
                            <td>{{ x.phone }}</td>
                            <td>{{ x.address }}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.website}}</td>


                        </tr>
                        </tbody>
                    </table>
                    <div ng-show="showProgress">
                        Loading Schools...
                    </div>
                </div>
            </div>
            <div ng-show="studentSearchResult">
                <p>Following Students matched the keyword  &quot;....&quot;</p>
                <p><a href="student profile.html">Sridhar Reddy, Category 6, Johnsons Grammar School, Hyderabad</a></p>
                <p><a href="student profile.html">Aravind Babu, Category 4, Warangal Public School, Warangal</a></p>
                <p></p>
            </div>
            <div>
                <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"><br />
                <div class="check-element animate-show-hide" ng-show="checked">
                    I show up when your checkbox is checked.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row wrap_9 wrap_4 wrap_10">
        <div class="grid_12">
            <div class="header_1 wrap_3 color_7">
                Get in Touch
            </div>
            <div class="box_3">
                <ul class="list_1">
                    <li><a class="fa fa-twitter" href="#"></a></li>
                    <li><a class="fa fa-facebook" href="#"></a></li>
                    <li><a class="fa fa-google-plus" href="#"></a></li>
                    <li><a class="fa fa-pinterest" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>
</div>
</div>